.navbar {
  border-radius: 0;
}

div.row.row-table {
  display: table;
  margin: 0;
  width: 100%;
}

div[class^="col-"].col-table-cell {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

div[class^="col-"].col-table-cell h1,
div[class^="col-"].col-table-cell h3 {
  color: white;
}

.login-site {
  background-color: #222222;
  min-height: 100vh;
}
.login-site .row-table {
  height: 100vh;
}

.admin-site {
  background-color: #212121;
  min-height: 100vh;
  color: #fff;
}

.admin-site .checkbox {
  margin: 12px 10px 0;
}

.admin-site .btn {
  margin: 8px 0;
}

.preview-cell {
  position: relative;
  width: 360px;
  height: 203px;
  overflow: hidden;
  padding: 0;
  margin: 0 15px 10px;
}

.preview-cell .order {
  position: absolute;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 10px 20px;
}

.preview-cell:not(.fullscreen) .order {
  top: 0;
}

.preview-cell .username {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 10px;
}

.preview-cell .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 997;
}

.preview-cell:hover .btn {
  display: block;
}

.admin-site iframe {
  width: 1440px;
  height: 810px;
  background-color: #fff;

  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
}

.preview-cell.fullscreen .order {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 4em;
  padding: 10px 30px;
  z-index: 1000;
}

.preview-cell.fullscreen iframe {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  transform: scale(1);
}

.close-fullscreen {
  position: fixed;
  right: 25px;
  top: 15px;
  z-index: 999;
}
