<!DOCTYPE html>
<title>Admin</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">

<div class="admin-site">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Code in the Dark</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="show-username"> Show Username
                            </label>
                        </div>
                    </li>
                    <li><button href="#" id="competition-end" class="btn btn-danger btn-sm">Competition End</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <a href="#" class="btn btn-danger hide close-fullscreen">Close</a>
        <div class="row">
            <div class="preview-cell col-lg-4 col-md-6 col-xs-12">
                <a href="#" class="btn btn-danger">Preview</a>
                <iframe>

                </iframe>
                <p class="order">A</p>
                <p class="username hide">Username</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
  (function() {
    $('.preview-cell .btn').click(function(e) {
        e.preventDefault();
        $(this).parent().addClass('fullscreen');
        $('.close-fullscreen').removeClass('hide');
    });

    $('.close-fullscreen').click(function(e) {
        e.preventDefault();
        $('.preview-cell').removeClass('fullscreen');
        $(this).addClass('hide');
    });

    $('#show-username').change(function() {
        if ($(this).is(':checked')) {
            $('.username').removeClass('hide');
        } else {
            $('.username').addClass('hide');
        }
    });

    var socket = io();
    socket.on('code update', function(data) {
        var html = $.parseHTML(data.code);
        var id = data.id;
        $(id).contents().find('html').html(html);
    });

    $('#competition-end').click(competitionEnd);
    function competitionEnd() {
        socket.emit('competition end');
    }
  })();
</script>
