<!DOCTYPE html>
<title>Code</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<style type="text/css" media="screen">
  .asset-img {
    height: 30px;
  }

  table td {
    padding: 15px 10px;
  }

  table td > img {
    display: block;
    margin: 0 auto;
  }

  #editor { 
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #message {
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 100;
    display: none;
  }

  #end-message {
    position: fixed;
    display: none;
    top: 30%;
    left: 30%;
    align-items: center;
  }
  .btn {
    margin: 8px 0;
  }
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Code In The Dark</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!" data-toggle="modal" data-target="#video-modal">Video &amp; Assets</a></li>
        <li><button id="save-button" class="btn btn-danger btn-sm" href="#!">Save</button></li>
      </ul>
    </div>
  </div>
</nav>
<div id="editor"></div>
<div id="message"></div>
<div id="end-message"></div>
  <!-- Modal -->
<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Video &amp; Assets</h4>
      <div class="modal-body">
        <legend>Video Preview</legend>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ci7QPZeSPmY" frameborder="0" allowfullscreen></iframe>
        <div class="row">
          <div class="col-sm-6">
            <legend>Color</legend>
            <p>
              <span style="background-color:#3A5795"> &nbsp; &nbsp; &nbsp; </span>
              &nbsp; #3A5795
            </p>
            <p>
              <span style="background-color:#EDF0F5"> &nbsp; &nbsp; &nbsp; </span>
              &nbsp; #EDF0F5
            </p>
            <p>
              <span style="background-color:#5D974A"> &nbsp; &nbsp; &nbsp; </span>
              &nbsp; #5D974A
            </p>
            <p>
              <span style="background-color:#666"> &nbsp; &nbsp; &nbsp; </span>
              &nbsp; #666
            </p>
          </div>
          <div class="col-sm-6">
            <legend>Notices</legend>
            <ol>
              <li>Pastikan selalu tekan <code>save</code> atau <code>ctrl+s</code> untuk menyimpan hasil kerja Anda.</li>
              <li>Hasil yang dinilai merupakan <code>source code terakhir</code> yang disimpan.</li>
              <li>Hindari pemberian styling (memberi warna background, dll) pada tag <code>&lt;body&gt;</code></li>
            </ol>
          </div>
        </div>
        <div>
          <legend>Images</legend>
          <table>
            <tr>
              <td><img style="background-color:#3A5795" class="asset-img" src="http://i63.tinypic.com/206dhr4.png" alt=""></td>
              <td><code>http://i63.tinypic.com/206dhr4.png</code></td>
            </tr>
            <tr>
              <td><img class="asset-img" src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xpa1/t39.2365-6/851565_602269956474188_918638970_n.png" alt=""></td>
              <td><code>https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xpa1/t39.2365-6/851565_602269956474188_918638970_n.png</code></td>
            </tr>
            <tr>
              <td><img class="asset-img" src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xaf1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt=""></td>
              <td><code>https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xaf1/t39.2365-6/851585_216271631855613_2121533625_n.png</code></td>
            </tr>
            <tr>
              <td><img class="asset-img" src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xtp1/t39.2365-6/851558_160351450817973_1678868765_n.png" alt=""></td>
              <td><code>https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xtp1/t39.2365-6/851558_160351450817973_1678868765_n.png</code></td>
            </tr>
          </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/mode-html.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-monokai.js"></script>
<script>
(function () {
  var editor = ace.edit("editor");
  var socket = io();
  var oldData;
  $('#editor').css('fontSize', '20px');
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/html");
  editor.setHighlightActiveLine(true);
  editor.getSession().setUseWorker(false);
  editor.setBehavioursEnabled(false);
  editor.commands.addCommand({
    name: 'save',
    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
    exec: function(editor) {
      store();
    },
    readOnly: false
  });
  socket.on('save response', function(data) {
    console.log(data.success);
    if(data.success) {
      $('#message').html('save success');
      $('#message').addClass('alert alert-success');
    } else {
      $('#message').html('save failed. try again :")');
      $('#message').addClass('alert alert-danger');
    }
    $('#message').fadeIn(500).delay(1000).fadeOut(500);
  });
  $('#save-button').click(store);
  socket.on('competition end', function() {
    editor.setReadOnly(true);
    $('#save-button').click(function(){});
    $('#end-message').html('Competition has ended. Thank you for your participance :")');
    $('#end-message').addClass('alert alert-danger');
    $('#end-message').fadeIn(500);
  });
  function store(data) {
    var data = {
      userId: '', // user id
      code: editor.getValue()
    };    
    if(JSON.stringify(oldData) !== JSON.stringify(data)) {
      socket.emit('code save', data);
      oldData = data;
    }
  }

})();
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
